<div>
  <h2>Users</h2>
  <button mat-raised-button (click)="create()">
    <mat-icon>add</mat-icon>
    <span>Create user</span>
  </button>
</div>
<mat-divider></mat-divider>

<app-table
  [resources]="dataSource"
  [displayedColumns]="displayedColumns"
  [rowOptions]="rowOptions"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  [totalNumberOfResources]="totalNumberOfElements"
  dateFormat="short"
  (edit)="edit($event)"
  (delete)="delete($event)"
  (page)="handlePageChange($event)"
></app-table>
