:host {
  div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    h2 {
      height: fit-content;
      margin: 0;
    }

    button {
      height: fit-content;
    }

  }

}
